<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaterialJsonData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MaterialJsonData.Properties.Settings>
            <setting name="ContainerName" serializeAs="String">
                <value>source</value>
            </setting>
            <setting name="BlobDirectoryPrefix" serializeAs="String">
                <value>source/material/</value>
            </setting>
            <setting name="DestDirectory" serializeAs="String">
                <value>source/process/material/</value>
            </setting>
            <setting name="KeyVaultURI" serializeAs="String">
                <value>https://kv-gccb-ope-qas.vault.azure.net/</value>
            </setting>
        </MaterialJsonData.Properties.Settings>
    </applicationSettings>
</configuration>